{
  "extends": ["@xbmlz/eslint-config-ts", "@xbmlz/eslint-config-prettier"],
  "ignorePatterns": ["*.mdx", "*.md", "*.rs", "*.toml", "*.js"],
  "rules": {
    "prettier/prettier": "error",
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off",
    "unicorn/prefer-add-event-listener": "off"
  }
}
