.animate-turn {
    animation: message-turn 1s linear infinite;
}

.icon {
    svg {
        width: 1em;
        height: 1em;
        vertical-align: baseline;
    }
}


/* loading的转动 */
@keyframes message-turn {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}