.animate-turn {
  animation: message-turn 1s linear infinite;
}

.icon {
  line-height: 1;

  svg {
    width: 1em;
    height: 1em;
    vertical-align: baseline;
  }
}

.close {
  cursor: pointer;
  opacity: 0.4;
  transition: all 0.2s;

  &:hover {
    opacity: 0.8;
  }
}

/* loading的转动 */
@keyframes message-turn {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
