@import 'functions';

.gmal-overlay {
  position: fixed;
  inset: 0;
  z-index: $z-index - 1;
  background: vars('overlay-bg');
  animation-duration: .3s;
}

.gmal-alert {
  position: fixed;
  top: 45%;
  right: 0;
  left: 0;
  z-index: $z-index;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 94%;
  max-width: 550px;
  min-height: 172px;
  margin: 0 auto;
  overflow: hidden;
  background: vars('alert-bg');
  border-radius: 16px;
  transform: translateY(-50%);
  animation-duration: .25s;

  .gmal-progress {
    pointer-events: none;
    opacity: 0;
  }
}

.gmal-alert-btn-group {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  &::after{
    border-top-width: 1px !important;
  }

  .gmal-alert-btn {
    position: relative;
    width: 100%;
    height: 48px;
    padding: 0.8em 1em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    background: none;
    border: 0;

    &:nth-child(2) {
      &::after {
        border-left-width: 1px;
      }
    }

    &:hover {
      background-image: linear-gradient(rgb(0 0 0 / 4%), rgb(0 0 0 / 4%));
    }
  }
}

.gmal-hairline::after {
  position: absolute;
  inset: -50%;
  box-sizing: border-box;
  pointer-events: none;
  content: " ";
  border: 0 solid vars('border-c');
  transform: scale(.5);
}

.gmal-alert-content {
  z-index: 1;
  padding: 1.5em 1em;
  overflow: auto;
  font-size: 1.125em;
  color: inherit;
  text-align: center;
}

.gmal-alert-title {
  position: relative;
  max-width: 100%;
  padding: 1em 1em 0;
  margin: 0;
  font-size: 1.75em;
  font-weight: 600;
  color: inherit;
  text-align: center;
}

@keyframes gmal-alert-in {
  0% {
    opacity: 0;
    transform: translateY(-50%) scale(0.6);
  }

  100% {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
}


@keyframes gmal-alert-out {
  100% {
    opacity: 0;
    transform: translateY(-50%) scale(0.6);
  }
}

@keyframes gmal-shake {
  0% {
    transform: translateY(-50%);
  }

  25% {
    transform: translateX(-8px) translateY(-50%);
  }

  50% {
    transform: translateX(8px) translateY(-50%);
  }

  75% {
    transform: translateX(-8px) translateY(-50%);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes gmal-fade-out {
  100% {
    opacity: 0;
  }
}

@keyframes gmal-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
