@import 'functions';

.gmal-overlay {
  position: fixed;
  inset: 0;
  z-index: $z-index - 1;
  background: rgb(0 0 0 / 50%);
  animation-duration: .3s;
}

.gmal-alert {
  position: fixed;
  top: 45%;
  right: 0;
  left: 0;
  z-index: $z-index;
  display: flex;
  flex-direction: column;
  width: 96%;
  max-width: 550px;
  padding: 1em;
  margin: 0 auto;
  background: vars('bg');
  border-radius: 5px;
  box-shadow: vars('shadow-v');
  transform: translateY(-50%);
  animation: gmal-alert-in 0.3s;

  .gmal-close {
    position: absolute;
    top: 6px;
    right: 6px;
  }
}

.gmal-alert-btn-group {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  .gmal-alert-btn {
    padding: 0.625em 1.1em;
    margin: 0.3125em;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    background: initial;
    background-color: #7066e0;
    border: 0;
    border-radius: 0.25em;

    &:hover {
      background-image: linear-gradient(rgb(0 0 0 / 10%), rgb(0 0 0 / 10%));
    }
  }
}

.gmal-alert-content {
  z-index: 1;
  margin: 1em 1.6em 0.3em;
  overflow: auto;
  font-size: 1.125em;
  color: inherit;
  text-align: center;
  word-break: break-word;
  word-wrap: break-word;
}

.gmal-alert-title {
  position: relative;
  max-width: 100%;
  padding: 0.8em 1em 0;
  margin: 0;
  font-size: 1.875em;
  font-weight: 600;
  color: inherit;
  text-align: center;
  text-transform: none;
  word-wrap: break-word;
}

@keyframes gmal-alert-in {
  0% {
    transform: translateY(-50%) scale(0.7);
  }

  45% {
    transform: translateY(-50%) scale(1.05);
  }

  80% {
    transform: translateY(-50%) scale(0.95);
  }

  100% {
    transform: translateY(-50%) scale(1);
  }
}

@keyframes gmal-alert-out {
  100% {
    opacity: 0;
    transform: translateY(-50%) scale(0.5);
  }
}
