@import './functions';

.gmal-aniicon {
  position: relative;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 5em;
  margin: 0;
  line-height: 5em;
  user-select: none;
  border: 0.4em solid rgb(0 0 0 / 0%);
  border-radius: 50%;
  animation-fill-mode: both;
}

.gmal-ok-icon {
  border-color: rgb(166 220 134 / 70%);

  .gmal-ok-ring {
    position: absolute;
    top: -0.375em;
    left: -0.375em;
    z-index: 2;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    border: 0.4em solid transparent;
    border-top-color: #9ddf78;
    border-right-color: #9ddf78;
    border-radius: 50%;
    animation: gmal-rt-rscl 0.4s ease-in;
    animation-fill-mode: both;
  }

  .gmal-ok-fix {
    position: absolute;
    top: 0.5em;
    left: 1.625em;
    z-index: 1;
    width: 0.4375em;
    height: 5.625em;
    transform: rotate(-45deg);
  }

  .gmal-ok-line {
    position: absolute;
    z-index: 2;
    display: block;
    height: 0.3125em;
    background-color: #9ddf78;
    border-radius: 0.125em;

    &.gmal-line-tip {
      top: 2.875em;
      left: 0.8125em;
      width: 1.5625em;
      transform: rotate(45deg);
      animation: gmal-anim-slt 0.75s;
    }

    &.gmal-line-long {
      top: 2.375em;
      right: 0.5em;
      width: 2.9375em;
      transform: rotate(-45deg);
      animation: gmal-anim-sll 0.75s;
    }
  }
}

@keyframes gmal-rt-rscl {
  0% {
    transform: rotate(72deg);
  }

  5% {
    transform: rotate(72deg);
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(-14deg);
  }
}

@keyframes gmal-anim-slt {
  0% {
    top: 1.1875em;
    left: 0.0625em;
    width: 0;
  }

  54% {
    top: 1.0625em;
    left: 0.125em;
    width: 0;
  }

  70% {
    top: 2.1875em;
    left: -0.375em;
    width: 3.125em;
  }

  84% {
    top: 3em;
    left: 1.3125em;
    width: 1.0625em;
  }

  100% {
    top: 2.8125em;
    left: 0.8125em;
    width: 1.5625em;
  }
}

@keyframes gmal-anim-sll {
  0% {
    top: 3.375em;
    right: 2.875em;
    width: 0;
  }

  65% {
    top: 3.375em;
    right: 2.875em;
    width: 0;
  }

  84% {
    top: 2.1875em;
    right: 0;
    width: 3.4375em;
  }

  100% {
    top: 2.375em;
    right: 0.5em;
    width: 2.9375em;
  }
}

.gmal-err-icon {
  color: #f27474;
  border-color: rgb(242 116 116 / 70%);
  animation: gmal-anim-err 0.5s;

  .gmal-err-r {
    flex-grow: 1;
    height: 100%;
    animation: gmal-anim-err-l 0.5s;

    .gmal-err-ll {
      position: absolute;
      top: 2.3125em;
      left: 1.0625em;
      display: block;
      width: 2.9375em;
      height: 0.3125em;
      background-color: #f27474;
      border-radius: 0.125em;
      transform: rotate(45deg);
    }

    .gmal-err-lr {
      position: absolute;
      top: 2.3125em;
      right: 1em;
      display: block;
      width: 2.9375em;
      height: 0.3125em;
      background-color: #f27474;
      border-radius: 0.125em;
      transform: rotate(-45deg);
    }
  }
}

@keyframes gmal-anim-err {
  0% {
    opacity: 0;
    transform: rotateX(100deg);
  }

  100% {
    opacity: 1;
    transform: rotateX(0);
  }
}

@keyframes gmal-anim-err-l {
  0% {
    margin-top: 1.625em;
    opacity: 0;
    transform: scale(0.4);
  }

  50% {
    margin-top: 1.625em;
    opacity: 0;
    transform: scale(0.4);
  }

  80% {
    margin-top: -0.375em;
    transform: scale(1.15);
  }

  100% {
    margin-top: 0;
    opacity: 1;
    transform: scale(1);
  }
}

.gmal-warn-icon {
  color: #f8bb86;
  border-color: rgb(250 206 168 / 70%);
  animation: gmal-anim-err 0.5s;

  .gmal-warn-content {
    display: flex;
    align-items: center;
    font-size: 3.75em;
    animation: gmal-anim-warn 0.8s;
  }
}

@keyframes gmal-anim-warn {
  0% {
    opacity: 0;
    transform: rotateZ(45deg);
  }

  25% {
    opacity: 0.4;
    transform: rotateZ(-25deg);
  }

  50% {
    opacity: 0.8;
    transform: rotateZ(15deg);
  }

  75% {
    opacity: 1;
    transform: rotateZ(-5deg);
  }

  100% {
    opacity: 1;
    transform: rotateX(0);
  }
}

.gmal-info-icon {
  color: #3fc3ee;
  border-color: rgb(157 224 246 / 70%);
  animation: gmal-anim-err 0.5s;

  .gmal-info-content {
    display: flex;
    align-items: center;
    font-size: 3.75em;
    animation: gmal-anim-warn 0.8s;
  }
}

.gmal-load-icon {
  line-height: 1;
  border-color: transparent;

  svg {
    font-size: 5.4em;
  }
}

.gmal-aniicon.gmal-dense {
  align-self: center;
  width: 2em;
  min-width: 2em;
  height: 2em;
  border-width: 0.25em;
  animation-delay: .3s;

  &.gmal-load-icon {
    i{
      font-size: 2.25em;
    }
  }

  .gmal-ok-ring {
    top: -0.25em;
    left: -0.25em;
    width: 2em;
    height: 2em;
    border-width: 0.25em;
  }

  .gmal-ok-line {
    height: 0.25em;

    &.gmal-line-tip {
      top: 1.1em;
      left: 0.22em;
      width: 0.75em;
      animation: gmal-anim-slt-dense 0.75s;
    }

    &.gmal-line-long {
      top: 0.9em;
      right: 0.15em;
      width: 1.3em;
      animation: gmal-anim-sll-dense 0.75s;
    }
  }

  .gmal-warn-content,.gmal-info-content,.gmal-err-r,.gmal-ok-line,.gmal-ok-ring {
    animation-delay: .3s !important;
  }

  .gmal-err-ll,
  .gmal-err-lr {
    top: 0.875em;
    width: 1.5em;
    height: 0.25em;
  }

  .gmal-err-ll {
    left: 0.25em;
  }

  .gmal-err-lr {
    right: 0.25em;
  }

  .gmal-warn-content,
  .gmal-info-content {
    font-size: 1.75em;
    font-weight: bold;
  }
}

@keyframes gmal-anim-slt-dense {
  0% {
    top: 0.5625em;
    left: 0.0625em;
    width: 0;
  }

  54% {
    top: 0.25em;
    left: 0.13em;
    width: 0;
  }

  70% {
    top: 0.7em;
    left: -0.14em;
    width: 1.4em;
  }

  84% {
    top: 1.18em;
    left: 0.3em;
    width: 0.7em;
  }

  100% {
    top: 1.1em;
    left: 0.22em;
    width: 0.75em;
  }
}

@keyframes gmal-anim-sll-dense {
  0% {
    top: 1.6em;
    right: 1.3em;
    width: 0;
  }

  65% {
    top: 1em;
    right: 1em;
    width: 0;
  }

  84% {
    top: 0.91em;
    right: 0;
    width: 1.45em;
  }

  100% {
    top: 0.9em;
    right: 0.15em;
    width: 1.3em;
  }
}
