@import './functions';

.gmal-aniicon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6em;
  height: 6em;
  margin: 0;
  line-height: 6em;
  user-select: none;
  animation-fill-mode: both !important;
}

.gmal-ani-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0.4em solid transparent;
  border-color: currentcolor;
  border-radius: 50%;
  opacity: .6;
}

.gmal-ok-icon {
  color : vars('success');

  .gmal-ok-ring {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    border: 0.4em solid transparent;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-radius: 50%;
    animation: gmal-rt-rscl 0.4s ease-in;
    animation-fill-mode: both;
  }

  .gmal-ok-line {
    position: absolute;
    z-index: 2;
    display: block;
    height: 0.3125em;
    background: currentcolor;
    border-radius: 0.125em;

    &.gmal-line-tip {
      top: 3.3em;
      left: 1.21em;
      width: 1.6em;
      transform: rotate(45deg);
      animation: gmal-anim-slt 0.75s;
    }

    &.gmal-line-long {
      top: 2.8em;
      right: 1.07em;
      width: 3em;
      transform: rotate(-45deg);
      animation: gmal-anim-sll 0.75s;
    }
  }
}

@keyframes gmal-rt-rscl {
  0% {
    transform: rotate(72deg);
  }

  5% {
    transform: rotate(72deg);
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(-14deg);
  }
}

@keyframes gmal-anim-slt {
  0% {
    width: 0;
  }

  54% {
    top: 1.48em;
    left: 0.54em;
    width: 0;
  }

  70% {
    top: 2.5em;
    left: 0;
    width: 3.125em;
  }

  84% {
    top: 3.42em;
    left: 1.7em;
    width: 1.1em;
  }

  100% {
    top: 3.3em;
    left: 1.21em;
    width: 1.6em;
  }
}

@keyframes gmal-anim-sll {
  0% {
    width: 0;
  }

  65% {
    top: 3.72em;
    right: 3.36em;
    width: 0;
  }

  84% {
    top: 2.6em;
    right: 0.5em;
    width: 3.5em;
  }

  100% {
    top: 2.8em;
    right: 1.07em;
    width: 3em;
  }
}

.gmal-err-icon {
  color: vars('error');
  animation: gmal-anim-err 0.5s;
  
  .gmal-err-r {
    flex-grow: 1;
    height: 100%;
    animation: gmal-anim-err-l 0.5s;

    .gmal-err-ll {
      position: absolute;
      top: 2.8em;
      left: 1.5em;
      display: block;
      width: 3em;
      height: 0.32em;
      background: currentcolor;
      border-radius: 0.125em;
      transform: rotate(45deg);
    }

    .gmal-err-lr {
      position: absolute;
      top: 2.8em;
      right: 1.5em;
      display: block;
      width: 3em;
      height: 0.32em;
      background: currentcolor;
      border-radius: 0.125em;
      transform: rotate(-45deg);
    }
  }
}

@keyframes gmal-anim-err {
  0% {
    opacity: 0;
    transform: rotateX(100deg);
  }

  100% {
    transform: rotateX(0);
  }
}

@keyframes gmal-anim-err-l {
  0% {
    margin-top: 1.625em;
    opacity: 0;
    transform: scale(0.4);
  }

  50% {
    margin-top: 1.625em;
    opacity: 0;
    transform: scale(0.4);
  }

  80% {
    margin-top: -0.375em;
    transform: scale(1.15);
  }

  100% {
    margin-top: 0;
    opacity: 1;
    transform: scale(1);
  }
}

.gmal-warn-icon {
  color: vars('warn');
  animation: gmal-anim-err 0.5s;

  .gmal-warn-content {
    display: flex;
    align-items: center;
    font-size: 3.75em;
    animation: gmal-anim-warn 0.8s;
  }
}

@keyframes gmal-anim-warn {
  0% {
    opacity: 0;
    transform: rotateZ(45deg);
  }

  25% {
    opacity: 0.4;
    transform: rotateZ(-25deg);
  }

  50% {
    opacity: 0.8;
    transform: rotateZ(15deg);
  }

  75% {
    opacity: 1;
    transform: rotateZ(-5deg);
  }

  100% {
    opacity: 1;
    transform: rotateX(0);
  }
}

.gmal-info-icon {
  color: #3fc3ee;
  animation: gmal-anim-err 0.5s;

  .gmal-info-content {
    display: flex;
    align-items: center;
    font-size: 3.75em;
    animation: gmal-anim-warn 0.8s;
  }
}

.gmal-load-icon {
  line-height: 1;
  border-color: transparent;

  svg {
    font-size: 5.4em;
  }
}

.gmal-aniicon.gmal-dense {
  align-self: center;
  width: 2.6em;
  height: 2.6em;
  animation-delay: 0.3s;

  .gmal-ok-ring {
    border-width: 0.25em;
  }

  .gmal-ani-wrap {
    border-width: 0.25em;
  }

  .gmal-ok-line {
    height: 0.3em;

    &.gmal-line-tip {
      top: 1.37em;
      left: 0.45em;
      width: 0.8em;
      animation: gmal-anim-slt-dense 0.75s;
    }

    &.gmal-line-long {
      top: 1.15em;
      right: 0.45em;
      width: 1.4em;
      animation: gmal-anim-sll-dense 0.75s;
    }
  }

  .gmal-warn-content,
  .gmal-info-content,
  .gmal-err-r,
  .gmal-ok-line,
  .gmal-ok-ring {
    animation-delay: 0.3s !important;
  }

  .gmal-err-ll,
  .gmal-err-lr {
    top: 1.25em;
    width: 1.5em;
    height: 0.2em;
  }

  .gmal-err-ll {
    left: 0.55em;
  }

  .gmal-err-lr {
    right: 0.55em;
  }

  .gmal-warn-content,
  .gmal-info-content {
    font-size: 1.75em;
    font-weight: bold;
  }
}

@keyframes gmal-anim-slt-dense {
  0% {
    width: 0;
  }

  54% {
    top: 0.55em;
    left: 0.25em;
    width: 0;
  }

  70% {
    top: 1.15em;
    left: 0.05em;
    width: 1.4em;
  }

  84% {
    top: 1.53em;
    left: 0.65em;
    width: 0.62em;
  }

  100% {
    top: 1.37em;
    left: 0.45em;
    width: 0.8em;
  }
}

@keyframes gmal-anim-sll-dense {
  0% {
    width: 0;
  }

  65% {
    top: 1.45em;
    right: 1.45em;
    width: 0;
  }

  84% {
    top: 1.15em;
    right: 0.25em;
    width: 1.66em;
  }

  100% {
    top: 1.15em;
    right: 0.45em;
    width: 1.4em;
  }
}
