@import 'functions';

.gmal-info {
  position: absolute;
  right: 2em;
  bottom: 1.5em;
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 0.5em 1em;
  pointer-events: all;
  background: vars('bg');
  border-radius: 5px;
  box-shadow: vars('shadow-v');
  animation: 0.3s gmal-info-in ease-in-out;
}

.gmal-info-header {
  display: flex;
  align-items: center;
  padding-bottom: 3px;
  font-size: 0.92em;
  border-bottom: vars('border');

  .gmal-close {
    margin-right: -.3em;
    margin-left: .1em;
  }
}

.gmal-info-title {
  min-width: 1.3em;
  height: 1.3em;
  padding: 0 0.3em;
  margin-right: 0.4em;
  color: #fff;
  border-radius: 0.2em;
  
  &.gmal-load {
    animation: 1s gmal-loading infinite;
  }
}

.gmal-info-content {
  padding: 0.5em;
}

@keyframes gmal-info-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes gmal-info-out {
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes gmal-loading {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
