@import './functions';

$theme-vars: (
  'bg': #fff,
  'text': #5a5a5a,
  'light': #d4d4d4,
  'border': 1px solid #d3d3d3,
  'shadow': rgb(0 0 0 / 8%),
  'fs': 16px,
  'font-family':
    'Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, Heiti SC, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif',
  'shadow-v': (
    0 0 1px #{vars('shadow')},
    1px 2px 4px #{vars('shadow')},
    1px 3px 8px #{vars('shadow')},
  ),
);

.gmal {
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: visible;
  font-family: vars('font-family');
  font-size: vars('fs');
  line-height: 1.3;
  color: vars('text');
  pointer-events: none;

  * {
    box-sizing: border-box;
  }

  @each $key, $value in $theme-vars {
    #{$var-prefix}-#{$key}: #{$value};
  }
}

.gmal-count {
  position: absolute;
  top: -0.4em;
  left: -0.5em;
  display: inline-block;
  min-width: 1.2em;
  height: 1.2em;
  padding: 0 1px;
  font-size: 0.875em;
  color: #fff;
  text-align: center;
  background-color: rgb(236 49 49);
  border-radius: 3px;
  animation-duration: 0.3s;
}

.gmal-progress {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  .gmal-progress-bar {
    display: flex;
    width: 100%;
    height: 0.25em;
    background-color: vars('light');
  }
}

/* svg抖动 */
@keyframes gmal-shake {
  0%,
  100% {
    opacity: 1;
    transform: translateX(0);
  }

  25%,
  75% {
    opacity: 0.75;
    transform: translateX(-4px);
  }

  50% {
    opacity: 0.25;
    transform: translateX(4px);
  }
}

.gmal-ani-turn {
  animation: gmal-turn 1s linear infinite;
}

/* loading的转动 */
@keyframes gmal-turn {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
