@import 'functions';

$theme-vars: (
  'bg': #fff,
  'bar-bg': rgb(0 0 0 / 8%),
  'msg-bg': rgb(0 0 0 / 70%),
  'msg-text': #fff,
  'text': #5a5a5a,
  'light': #ddd,
  'success': #72b948,
  'info': #30abd4,
  'warn':#e67930,
  'error': #da5252,
  'loading': #31518d,
);

.gmal {
  position: fixed;
  height: 0;
  font: 16px/1.3 "Helvetica Neue", Helvetica, Arial, "PingFang SC",
  "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei",
  sans-serif;
  color: vars('text');

  * {
    box-sizing: border-box;
  }

  @each $key, $value in $theme-vars {
    #{$var-prefix}-#{$key}: #{$value};
  }
}


.gmal-close {
  display: flex;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 5px;
  opacity: .3;
  transition: all 0.2s;

  &:hover {
    background: vars('light');
    opacity: .5;
  }
}

.gmal-progress {
  position: absolute;
  inset: 0;
  overflow: hidden;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  .gmal-progress-bar {
    display: flex;
    width: 0;
    height: 100%;
    background: vars('bar-bg');
  }
}
