@import 'functions';

.gmal {
  @include set-vars('msg-bg', rgb(0 0 0 / 70%));
  @include set-vars('msg-c', #fff);
}


.gmal-msg {
  position: fixed;
  top: 45%;
  right: 0;
  left: 0;
  z-index: 2;
  width: max-content;
  margin: 0 auto;
  transform: translateY(-50%);
  animation-duration: 0.25s;

  .gmal-progress {
    pointer-events: none;
    opacity: 0;
  }
}

.gmal-msg-main {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  max-width: 168px;
  padding: 12px 15px;
  color: vars('msg-c');
  background: vars('msg-bg');
  border-radius: 4px;

  .gmal-icon {
    display: block;
    margin: 10px;
    font-size: 1.8em;
    line-height: 1;
  }
}

.gmal-msg-content {
  text-align: center;
}

// 复用alert的动画
@keyframes gmal-alert-in {
  0% {
    opacity: 0;
    transform: translateY(-50%) scale(0.6);
  }

  100% {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
}

@keyframes gmal-alert-out {
  100% {
    opacity: 0;
    transform: translateY(-50%) scale(0.6);
  }
}