@import 'functions';

.gmal-notice {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2;
  background: vars('notice-bg');
  animation-duration: 0.3s;

  .gmal-notice-main {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: normal;

    .gmal-notice-content {
      margin: 12px 20px;
      font-size: 1.2em;
      font-weight: 600;
      text-align: center;
    }
  }
}

/* 展开 */
@keyframes gmal-open {
  0% {
    transform: translateY(var(--y));
  }

  100% {
    transform: translateY(0);
  }
}

/* 收起 */
@keyframes gmal-close {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(var(--y));
  }
}
