@import '../../styles/functions';

.msg {
  position: relative;
  overflow: visible;
  transform-origin: center;
  animation-duration: 0.3s;

  > :nth-child(2) {
    opacity: 0;
  }

  .icon {
    position: absolute;
    top: 9px;
    left: 8px;
    font-size: 16px;
  }

  .msg-main {
    position: relative;
    box-sizing: border-box;
    min-width: 3rem;
    max-width: 20em;
    padding: 8px;
    padding-left: 30px;
    margin-bottom: 0.4rem;
    overflow: hidden;
    text-align: center;
    background: var-color('bg');
    border-radius: 4px;
    box-shadow: var-color('shadow-v');

    /* 从中间开始放大 */
    transform-origin: center;
    animation-duration: 0.3s;
  }

  .msg-content {
    text-align: left;
    pointer-events: all;

    /* 解决字体模糊抖动问题 */
    transform: perspective(1px);
  }
}

@keyframes msg-moveout {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.7);
  }
}

// for main
@keyframes msg-out {
  100% {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

@keyframes msg-movein {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
