:root {
  --c-bg: #fff;
  --c-text: #000;
}

body {
  color: var(--c-text);
  background-color: var(--c-bg);
}

[data-theme=dark] body {
  --c-bg: rgb(20, 20, 20);
  --c-text: #a8a8a8;
}
[data-theme=dark] .gmal {
  --gmal-bg: #303030;
  --gmal-text: #a8a8a8;
  --gmal-border: 1px solid #535353;
  --gmal-light: #535353;
  --gmal-shadow: rgba(255, 255, 255, 0.1);
}

.btn {
  padding: 0.5rem 1.3rem;
  color: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  background-color: #007fff;
  border: none;
  border-radius: 2px;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
}

.btn-box {
  display: flex;
  flex-wrap: wrap;
}
.btn-box .btn {
  margin-right: 1em;
  margin-bottom: 1em;
}

.area {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.gm-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.gm-input {
  width: calc(100% - 6em);
  padding: 10px 12px;
  font-size: 14px;
  color: var(--text);
  background-color: #f5f5f5;
  border: 1px solid #cad1e6;
  border-radius: 8px;
  outline: none;
  transition: all 0.4s cubic-bezier(0.345, 0.045, 0.345, 1);
}
.gm-input:focus, .gm-input:hover {
  background-color: #fff;
  border-color: #007fff;
}
@charset "UTF-8";
/* 获取颜色 */
.gmal {
  position: fixed;
  height: 0;
  font: 16px/1.3 "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  color: var(--gmal-text);
  word-break: normal;
  word-wrap: break-word;
  --gmal-alert-bg: #fff;
  --gmal-overlay-bg: rgba(0, 0, 0, 0.5);
  --gmal-bar-bg: rgba(0, 0, 0, 0.04);
  --gmal-msg-bg: rgba(0, 0, 0, 0.7);
  --gmal-msg-c: #fff;
  --gmal-notice-bg: #e2e7ec;
  --gmal-border-c: rgba(0, 0, 0, 0.09);
  --gmal-text: #5a5a5a;
}
.gmal * {
  box-sizing: border-box;
}

.gmal-close {
  display: flex;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0.3;
  transition: all 0.2s;
}
.gmal-close:hover {
  background: var(--gmal-border-c);
  opacity: 0.5;
}

.gmal-progress {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.gmal-progress .gmal-progress-bar {
  display: flex;
  width: 0;
  height: 100%;
  background: var(--gmal-bar-bg);
}
@charset "UTF-8";
/* 获取颜色 */
.gmal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2018;
  background: var(--gmal-overlay-bg);
  animation-duration: 0.3s;
}

.gmal-alert {
  position: fixed;
  top: 45%;
  right: 0;
  left: 0;
  z-index: 2019;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 94%;
  max-width: 550px;
  min-height: 172px;
  margin: 0 auto;
  overflow: hidden;
  background: var(--gmal-alert-bg);
  border-radius: 16px;
  transform: translateY(-50%);
  animation-duration: 0.25s;
}
.gmal-alert .gmal-progress {
  pointer-events: none;
  opacity: 0;
}

.gmal-alert-btn-group {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.gmal-alert-btn-group::after {
  border-top-width: 1px !important;
}
.gmal-alert-btn-group .gmal-alert-btn {
  position: relative;
  width: 100%;
  height: 48px;
  padding: 0.8em 1em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  background: none;
  border: 0;
}
.gmal-alert-btn-group .gmal-alert-btn:nth-child(2)::after {
  border-left-width: 1px;
}
.gmal-alert-btn-group .gmal-alert-btn:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04));
}

.gmal-hairline::after {
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  box-sizing: border-box;
  pointer-events: none;
  content: " ";
  border: 0 solid var(--gmal-border-c);
  transform: scale(0.5);
}

.gmal-alert-content {
  z-index: 1;
  padding: 1.5em 1em;
  overflow: auto;
  font-size: 1.125em;
  color: inherit;
  text-align: center;
}

.gmal-alert-title {
  position: relative;
  max-width: 100%;
  padding: 1em 1em 0;
  margin: 0;
  font-size: 1.75em;
  font-weight: 600;
  color: inherit;
  text-align: center;
}

@keyframes gmal-alert-in {
  0% {
    opacity: 0;
    transform: translateY(-50%) scale(0.6);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
}
@keyframes gmal-alert-out {
  100% {
    opacity: 0;
    transform: translateY(-50%) scale(0.6);
  }
}
@keyframes gmal-shake {
  0% {
    transform: translateY(-50%);
  }
  25% {
    transform: translateX(-8px) translateY(-50%);
  }
  50% {
    transform: translateX(8px) translateY(-50%);
  }
  75% {
    transform: translateX(-8px) translateY(-50%);
  }
  100% {
    transform: translateY(-50%);
  }
}
@keyframes gmal-fade-out {
  100% {
    opacity: 0;
  }
}
@keyframes gmal-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@charset "UTF-8";
/* 获取颜色 */
.gmal-notice {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2019;
  background: var(--gmal-notice-bg);
  animation-duration: 0.3s;
}
.gmal-notice .gmal-notice-main {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: normal;
}
.gmal-notice .gmal-notice-main .gmal-notice-content {
  margin: 12px 20px;
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
}

/* 展开 */
@keyframes gmal-open {
  0% {
    transform: translateY(var(--y));
  }
  100% {
    transform: translateY(0);
  }
}
/* 收起 */
@keyframes gmal-close {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(var(--y));
  }
}
@charset "UTF-8";
/* 获取颜色 */
.gmal-msg {
  position: fixed;
  top: 45%;
  right: 0;
  left: 0;
  z-index: 2019;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  transform: translateY(-50%);
  animation-duration: 0.25s;
}
.gmal-msg .gmal-progress {
  pointer-events: none;
  opacity: 0;
}

.gmal-msg-main {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  max-width: 168px;
  padding: 12px 15px;
  color: var(--gmal-msg-c);
  background: var(--gmal-msg-bg);
  border-radius: 4px;
}
.gmal-msg-main .gmal-icon {
  display: block;
  margin: 10px;
  font-size: 1.8em;
  line-height: 1;
}

.gmal-msg-content {
  text-align: center;
}

@keyframes gmal-alert-in {
  0% {
    opacity: 0;
    transform: translateY(-50%) scale(0.6);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
}
@keyframes gmal-alert-out {
  100% {
    opacity: 0;
    transform: translateY(-50%) scale(0.6);
  }
}