@import './styles/functions';

.gmsg-container {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  pointer-events: none;

  * {
    box-sizing: border-box;
  }

  .gmsg-notice-container {
    position: absolute;
    top: 1em;
    right: 1em;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .gmsg-message-container {
    position: absolute;
    top: calc(50% - 4rem);
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.gmsg-count {
  position: absolute;
  top: -0.5em;
  left: -0.5em;
  display: inline-block;
  min-width: 1.25em;
  height: 1.25em;
  padding: 0 2px;
  font-size: 0.875em;
  color: #fff;
  text-align: center;
  background-color: rgb(236 49 49);
  border-radius: 2px;
  animation-duration: 0.3s;
}

.gmsg-progress {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  .gmsg-progress-bar {
    display: flex;
    width: 100%;
    height: 0.25em;
    background-color: var-color('light');
  }
}

/* svg抖动 */
@keyframes shake {
  0%,
  100% {
    opacity: 1;
    transform: translateX(0);
  }

  25%,
  75% {
    opacity: 0.75;
    transform: translateX(-4px);
  }

  50% {
    opacity: 0.25;
    transform: translateX(4px);
  }
}
